/* 
flex 
*/
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 
header 
*/
.header{
    width: 100%;
    height: 60px;
    background-color: rgb(26, 40, 48);
    position: fixed;
    box-shadow: 2px 5px 8px #c7c7c7;
    z-index: 999;
    padding: 0 0 0 20px;
    top: 0;
    transition: height ease .5s;
}
.header_str{
    width: 35%;
    height: inherit;
    display: flex;
}
.header_str:hover .header_str_content > h3{
    color: rgb(93, 151, 187);
}
.header_str > a{
    width: 70%;
    height: inherit;
}
.header_str_content{
    overflow: hidden;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header_str_content > h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(110, 163, 196);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.header_but{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_but_content > button{
    padding: 12px 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 3px;
    color: white;
    background-color: orangered;
    border: none;
    cursor: pointer;
    outline: none;
}
.header_more{
    width: 35%;
    height: 100%;
}
.header_more_content, 
.header_hide_panel,
.header_more_content_head{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header_more_content{
    position: relative;
    width: auto;
}
.header_more_content_price,
.header_more_content_discount{
    position: absolute;
    top: 60px;
    right: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 91, 129);
    width: 400px;
    height: 0px;
    overflow: hidden;
    transition: height ease 1s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header_more_price_once,
.header_more_price_multiple,
.header_more_discount_0,
.header_more_discount_30{
    width: 400px;
    height: auto;
    position: relative;
    cursor: pointer;
}
.header_more_price_once::after,
.header_more_discount_0::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: rgb(54, 46, 46);
    bottom: -1px;
    left: 0;
}
.header_more_price_once_cont,
.header_more_price_multiple_cont,
.header_more_discount_0_cont,
.header_more_discount_30_cont{
    width: 100%;
    height: inherit;
    padding: 10px 10px 20px 10px;
    display: flex;
}
.header_more_price_radio{
    height: 100%;
    width: 15px;
    display: flex;
    justify-content: center;
}
.header_more_price_radio > input{
    cursor: pointer;
    margin: 0;
}
.header_more_price_once_all,
.header_more_price_multiple_all,
.header_more_discoun_0_all,
.header_more_discoun_30_all{
    width: 100%;
    padding-left: 10px;
}
.header_more_once_all_title > h3,
.header_more_multiple_all_title > h3{
    width: 100%;
    font-size: 16px;
    color: rgb(123, 187, 26);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
}
.header_more_once_all_title > h3 > span,
.header_more_multiple_all_title > h3 > span{
    position: relative;
}
.webmoney::before,
.qiwi::before{
    position: absolute;
    top: 0;
    left: -12px;
    content: "$";
}
.header_more_once_all_cont,
.header_more_multiple_all_cont{
    margin-top: 20px;
}
.header_more_once_all_cont > p,
.header_more_multiple_all_cont > p{
    font-size: 15px;
    color: rgb(230, 230, 230);
    line-height: 1.2;
    
    font-family: 'Roboto', sans-serif;
}
.header_more_content_discount{
    right: 0;
}
.header_more_discount_0,
.header_more_discount_30{
    width: 100%;
}
.discount_0,
.discount_30{
    margin-right: 10px;
}
.discount_0::after,
.discount_30::after{
    position: absolute;
    top: 0;
    content: "%";
}

/* 
header_hide_panel 
*/

.header_hide_panel{
    width: 100px;
}
.header_more_content_want, 
.header_more_content_disc, 
.header_hide_panel_heart, 
.header_hide_panel_arrow{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header_hide_panel_arrow_click{
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: 50px;
    z-index: 3;
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
}
.header_more_content_want:active, 
.header_more_content_disc:active, 
.header_hide_panel_heart:active,
.header_hide_panel_arrow:active{
    background-color: black;
}
.header_more_content_want:hover.header_more_content_want > span, 
.header_more_content_disc:hover.header_more_content_disc > span{
    color: rgb(76, 128, 241);
}
.header_more_content_want > span, 
.header_more_content_disc > span{
    color: rgb(123, 187, 26);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    margin-right: 5px;
}
.header_more_content_want > span:last-child, 
.header_more_content_disc > span:last-child{
    font-size: 12px;
    margin: none;
    transform: rotate(180deg);
}
.header_more_content_want > span:last-child > i,
.header_more_content_disc > span:last-child > i{
    transition: transform ease .5s;
}
.header_hide_panel_heart > i, 
.header_hide_panel_arrow > i{
    color: white;
    font-size: 20px;
}
.header_hide_panel_arrow > i{
    transition: transform ease .5s;
}
.header_hide_panel_heart:hover.header_hide_panel_heart > i, 
.header_hide_panel_arrow:hover.header_hide_panel_arrow > i{
    color: rgb(76, 128, 241);
}


/* 
section_home 
*/

.section_home_leng{
    width: 100%;
    margin-top: 60px;
    transition: margin ease .5s;
}
.section_home_leng_content{
    width: 90%;
    margin: 0 auto;
    padding: 13px 0;
}
.section_home_leng_welcome{
    width: 66%;
}
.section_home_leng_welcome > h3,
.section_home_leng_hotline > h3,
.section_home_leng_english_cont > h3,
.section_home_english_more_item > h3{
    color: rgb(133, 132, 132);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto';
}
.section_home_leng_welcome > h3 > span{
    color: red;
    cursor: pointer;
}
.section_home_leng_hotline > i,
.section_home_leng_english_cont > i{
    color: rgb(133, 132, 132);
    margin: 0 7px 0;
}
.section_home_leng_english_cont > i{
    margin-left: 7px;
}
.section_home_leng_english{
    margin-left: 15px;
    position: relative;
}
.section_home_leng_english_cont{
    position: relative;
    cursor: pointer;
}
.section_home_leng_english_cont > h3{
    text-transform: capitalize;
    margin-left: 15px;
}
.section_home_leng_english_cont::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgb(133, 132, 132);
}
.section_home_english_more{
    display: none;
    position: absolute;
    background-color: white;
    cursor: pointer;
    box-shadow: 2px 5px 8px #c7c7c7;
    z-index: 3;
    padding: 0 40px 0 20px;
}
.section_home_english_more_item{
    margin-top: 12px;
}
.section_home_english_more_item:last-child{
    margin-bottom: 12px;
}
.section_home_english_more_item > h3{
    text-transform: capitalize;
    font-size: 13px;
}
.section_home_english_more_item > h3:hover{
    color: red;
}
.section_home_leng_english:hover .section_home_english_more{
    display: block;
}


/* 
section_basket 
*/

.section_basket,
.login{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    cursor: pointer;
}
.section_basket_cont{
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    width: 35%;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.basket_item {
    width: 100%;
    position: relative;
}
.basket_item_img{
    width: 30%;
    height: auto;
}
.basket_item_img > img{
    width: 100%;
    display: block;
}
.basket_item_cont{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basket_item_name, 
.basket_item_price,
.section_basket_allPrice_cont > span,
.section_basket_allBye > button{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.basket_item_price{
    margin: 20px 0;
}
.basket_item_inp{
    border: 1px solid gray;
}

.section_basket_allPrice{
    position: absolute;
    top: 0;
    right: 0;
}
.section_basket_allBye{
    position: absolute;
    top: 100%;
    transform: translate(-100%, -100%);
    left: 100%;
}
.section_basket_allBye > button{
    padding: 6px 0;
    font-size: 15px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
.basket_item_close{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transform: translateX(85px);
    transition: transform ease .5s;
}
.basket_item_close > span > i{
    color: black;
    transition: color ease .3s;
}
.basket_item_close > span > i:hover{
    color: orangered;
}

.login_cont{
    padding: 30px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login_cont_title > h2{
    font-family: sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.login_cont_inputs{
    margin: 20px 0;
}
.login_cont_inputs_items:last-child,
.login_cont_but_h > h2{
    margin-top: 20px;
}
.login_cont_inputs_h > h2{
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(73, 73, 73);
    text-transform: capitalize;
}
.login_cont_inputs_h > h2 > span{
    color: orangered;
}
.login_cont_inputs_inp{
    width: 490px;
    height: 37px;
    margin-top: 10px;
}
.login_cont_inputs_inp > input{
    width: 100%;
    height: inherit;
    color: rgb(73, 73, 73);
    text-transform: capitalize;
}
.login_cont_button > button{
    width: 100%;
    color: white;
    background-color: orangered;
    text-transform: uppercase;
    height: 37px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
.login_cont_but_h > h2{
    color: rgb(73,73,73);
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    text-transform: capitalize;
}
.login_cont_but_h > h2 > a > span{
    cursor: pointer;
}
.login_cont_but_h > h2 > a > span:hover{
    color: orangered;
}

/*
header_shopee 
*/

.header_shopee{
    width: 100%;
    height: 80px;
    background-color: rgb(43, 62, 83);
    position: relative;
}
.header_shopee_content{
    width: 100%;
    height: inherit;
    text-align: center;
    cursor: pointer;
}
.header_shopee_content_center{
    height: 80px;
}
.header_shopee_content_center:hover{
    background-color: rgb(33, 47, 65);
}
.header_shopee_content_center > h1{
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(255, 51, 0);
    padding-top: 20px;
    text-transform: capitalize;
    font-weight: 600;
}

.header_shopee_panel{
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    background-color: rgb(43, 62, 83);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.header_shopee_panel_items,
.header_shopee_panel_login{
    width: 80px;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header_shopee_panel_items:hover,
.header_shopee_panel_login:hover{
    background-color: rgb(33, 47, 65);
}
.header_shopee_panel_items > i{
    color: rgb(255, 51, 0);
    font-size: 45px;
}
.header_shopee_panel_items > h3{
    color: rgb(255, 51, 0);
    font-size: 15px;
    text-transform: capitalize;
    text-align: center;
    font-family: Courier, sans-serif;
}
.header_shopee_panel_login_cont{
    margin: auto;
}
.header_shopee_panel_login_cont > a > .sign_in,
.header_shopee_panel_login_cont > a > .register{
    text-transform: capitalize;
    color: rgb(255, 51, 0);
    font-family: sans-serif;
    font-size: 13px;
    margin: 3px;
}
.header_shopee_panel_login_cont > a > .sign_in:hover,
.header_shopee_panel_login_cont > a > .register:hover{
    color: white;
}



/* 
mine_menu 
*/

.mine_menu{
    width: 100%;
    height: 55px;
    background-color: white;
}
.mine_menu_navigation{
    width: 60%;
    height: 100%;
}
.mine_menu_navigation_no{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
.mine_menu_nav{
    width: 100%;
    height: 100%;
}
.mine_menu_list{
    width: 100%;
    height: 100%;
}
.mine_menu_list > a{
    width: 16.66%;
    height: inherit;
}
.mine_menu_link{
    cursor: pointer;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mine_menu_link:hover{
    background-color: orangered;
}
.mine_menu_link > span{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: capitalize;
}


/* 
mine_menu_responsive 
*/

.mine_menu_responsive{
    display: none;
    cursor: pointer;
}
.mine_menu_responsive_lines{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}


/* 
mine_menu_search 
*/

.mine_menu_search{
    height: 100%;
    padding: 5px 0;
}
.mine_menu_search_cont{
    height: 100%;
}
.mine_menu_search_cont > input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    font-size: 15px;
}
.mine_menu_search_but{
    height: 100%;
    margin-left: 20px;
}
.mine_menu_search_but > button{
    width: 100px;
    height: 100%;
    margin-right: 10px;
    font-size: 17px;
    color: rgb(255, 51, 0);
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
}

/* 
div_images 
*/

.div_images{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.images_conteiner{
    width: 300%;
    overflow: hidden;
    display: flex;
}
.images_conteiner > img{
    width: 33.33%;
    height: auto;
}
.div_images_pointers{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}
.div_images_pointer{
    cursor: pointer;
}
.div_images_pointer:hover.div_images_pointer > span > i{
    color: orangered;
}
.div_images_pointer > span > i{
    font-size: 30px;
}

/* 
section_products 
*/

.section_products_title{
    width: 100%;
    padding: 50px 0;
    position: relative;
}
.section_products_title_no{
    padding: 25px 0;
}
.section_products_title_cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_products_title_cont > h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: white;
}
.section_products_title_lines{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(50% - 3px);
    left: 0;
    z-index: -1;
}
.section_products_title_line{
    width: 100%;
    height: 1px;
    background-color: black;
}
.section_products_title_line:last-child{
    margin-top: 4px;
}

.section_products_content{
    width: 100%;
    padding-bottom: 75px;
    justify-content: center;
}
.section_products_row{
    width: 900px;
}
.section_products_row > a{
    width: 24%;
    height: 100%;
}
.section_products_img_div{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(204, 204, 204);
}
.section_products_img_div > img{
    display: block;
    width: 100%;
}
.section_products_img_div_height > img{
    width: 105%;
    margin-left: -2.5%;
}
.keep{
    width: 100%;
    padding: 20px 40px;
}
.keep_div_inp,
.keep_div_touch{
    display: flex;
}
.keep_div_news{
    display: flex;
    align-items: center;
}
.keep_div_news > span{
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: sans-serif;
}
.keep_input,
.keep_icons{
    margin-left: 50px;
}
.keep_input > input{
    height: 36px;
    width: 286px;
    color: gray;
    letter-spacing: 1px;
}
.keep_input > a > button{
    height: 36px;
    width: 120px;
    background-color: orangered;
    border: orangered;
    outline: none;
    cursor: pointer;
    margin-left: -4px;
}
.keep_icons_list{
    display: flex;
}
.keep_icons_item{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 8px;
}
.keep_icons_item > i{
    font-size: 19px;
    color: white;
}
#skype{
    background-color: #11ddea;
}
#pinterest{
    background-color: #ed001c;
}
#googleplus{
    background-color: #ed321e;
}
#linkedin{
    background-color: #3f93d3;
}
#twitter{
    background-color: #11c2ea;
}
#facebook{
    background-color: #4968a9;
    margin: 0;
}

/* 
footer 
*/

.footer{
    width: 100%;
    padding: 40px 0 0;
    background-color: black;
}
.footer_conteiner{
    width: 1000px;
    margin: auto;
}
.footer_items_items{
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.footer_items_items:hover.footer_items_items > span{
    color: orangered;
}
.footer_items_items > span{
    color: white;
    font-size: 17px;
    letter-spacing: 1.1px;
    font-family: sans-serif;
    transition: color ease .5s;
}
.footer_items_title{
    margin: 0 0 20px 0;
    cursor: auto;
}
.footer_items_title:hover.footer_items_items > span{
    color: white;
}
.footer_items_title > span{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.footer_items_items_first{
    margin-left: 17px;
}
.footer_items_items > i{
    color: red;
    font-size: 10px;
    margin-right: 8px;
}
.footer_bot_content{
    width: 1000px;
    height: 45px;
    margin: 40px auto 0;
}
.footer_bot_title > h2{
    font-family: sans-serif;
    color: gray;
    font-size: 15px;
    text-transform: capitalize;
}
.footer_cards{
    margin-left: 5px;
}
.footer_cards:first-child{
    margin: 0;
}
.footer_cards > img{
    width: 100%;
    display: block;
}













/* 
pages 
*/

.section_item{
    padding: 20px 0;
}
.section_item_character{
    margin: 0 auto;
    width: 450px;
}
.item_character_list > select{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 2px;
}
.item_character_list > select > option {
    text-transform: capitalize;
}
.section_item_cont{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}
.item_block{
    width: 24%;
    border: 1px solid rgb(204, 202, 202);
    position: relative;
    overflow: hidden;
}
.item_block_img{
    width: 100%;
    height: inherit;
}
.item_block_img > a > img{
    width: 100%;
    display: block;
}
.item_img{
    width: 100%;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_block_slide{
    width: 60%;
    height: 100%;
    background-color: rgb(214, 214, 214);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-101%);
    transition: transform ease .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.item_block_slide_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item_block_slide_title{
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}
.item_block_slide_price,
.item_block_slide_price_new{
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    margin: 10px 0;
}
.item_block_slide_heart > i{
    font-size: 20px;
    color: black;
}




/* 
section_reg
*/

.section_reg{
    width: 100%;
    padding: 50px;
}
.section_reg_title > h2{
    width: 100%;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.section_reg_cont{
    width: 100%;
    margin-top: 30px;
    align-items: stretch;
}
.section_reg_cont_forms{
    width: 45%;
    padding: 30px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(212, 212, 212);
}
.section_forms_title{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.section_forms_title > h2{
    color: gray;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}
.section_forms_cont{
    width: 100%;
    margin-top: 30px;
}
.section_forms_cont_items{
    width: 45%;
}
.section_forms_inps_name > h2{
    color: gray;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.section_forms_inps_name > h2 > span{
    color: red;
}
.section_forms_inps_inp > input{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.section_forms_cont_but{
    width: 100%;
    margin-top: 20px;
}
.section_forms_cont_but > h3{
    color: gray;
    font-size: 14px;
    cursor: context-menu;
    text-transform: capitalize;
    font-family: sans-serif;
}
.section_forms_cont_items_100{
    width: 100%;
    margin-top: 20px;
}
.section_forms_cont_items_100:first-child{
    margin: 0;
}

/* 
section_reg_creat 
*/

.section_creat{
    margin-bottom: 40px;
    width: 100%;
    padding: 40px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #ddd;
}
.section_creat_but > button{
    background-color: orangered;
    height: 35px;
    border: 1px solid orangered;
    padding: 5px 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
.section_creat_signin > h3{
    font-family: sans-serif;
    font-size: 14px;
    color: gray;
}
.section_creat_signin > h3 > span{
    color: red;
    cursor: pointer;
}